footer{
    padding-top: 100px;
    padding-bottom: 25px;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    margin: 0px auto;
    column-gap: 30px;
    max-width: 1390px;
    @media screen and ( max-width: 730px ) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 100px;
    }
}

h3, p{
    margin: 0px;
}

footer > div{
    display: grid;
    row-gap: 20px;
    align-content: center;

    h3{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        @media screen and ( max-width: 730px ) {
            font-size: 18px;
        }
    }

    p{
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        @media screen and ( max-width: 730px ) {
            font-size: 16px;
        }
    }
}

footer > div:first-child{
    justify-self: start;
    @media screen and ( max-width: 730px ) {
        justify-self: center;
        row-gap: 40px;
    }
    > *{
        text-align: start;
        @media screen and ( max-width: 730px ) {
            text-align: center;
        }
    }
}
footer > div:last-child{
    justify-self: end;
    align-items: center;
    @media screen and ( max-width: 730px ) {
        grid-template-columns: auto auto;
        justify-self: center;
        column-gap: 5px;
    }

    > *{
        text-align: end;
    }
    a{
        transition: .3s;
    }
    a.cactus-web:hover{
        color: #4D98FF;
    }
}

.user-agreement{
    color: #BFBFBF;
    text-decoration: underline;
    transition: .3s;
    &:hover{
        color: #fff;
    }
}


@media (max-width: 450px){
    footer{
        font-size: 8px;
        column-gap: 20px;
        padding: 5px 0px 20px; 
        padding-top: 50px;
    }

    .cactus-web img{width: 20px}
    
}