<app-navbar></app-navbar>
<div class="all">
    <p><strong>&nbsp;</strong></p>
    <p style="text-align: center;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Пользовательское соглашение</strong></p>
    <p>Настоящее Соглашение определяет условия использования посетителем сайта (далее - Пользователь) материалов и сервисов сайта www.<a href="https://vk.com/away.php?utf=1&amp;to=http%3A%2F%2Fquasarcook.com">quasarcook.com</a> (далее - Сайт), а также регулирует отношения между ИП с основным государственным регистрационным номером 320784700191640 (далее Quasar или Администрация) и посетителем сайта. Сайт <a href="http://copyright.ru/">www.</a><a href="https://vk.com/away.php?utf=1&amp;to=http%3A%2F%2Fquasarcook.com">quasarcook.com</a> не является средством массовой информации.</p>
    <p>&nbsp;</p>
    <p><strong>&nbsp; &nbsp; &nbsp;1.Общие условия</strong></p>
    <p>1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
    <p>1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта, Пользователь считается присоединившимся к настоящему Соглашению.</p>
    <p>1.3. Данное Соглашение вступает в силу при любом использовании данного сайта. Соглашение перестает действовать при появлении его новой версии. Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению. Администрация не оповещает пользователей об изменении в Соглашении.</p>
    <p>&nbsp;</p>
    <ol start="2">
    <li><strong> Права и обязанности Пользователя</strong></li>
    </ol>
    <p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере&nbsp;<a href="http://copyright.ru/intellectual/">интеллектуальной собственности</a>,</p>
    <p><a href="http://copyright.ru/ru/documents/avtorskoe_pravo/avtorskie_prava/">авторских</a>&nbsp;и/или&nbsp;<a href="http://copyright.ru/ru/documents/avtorskoe_pravo/smegnie_prava/">смежных правах</a>, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
    <p>2.2. Использование материалов Сайта без согласия&nbsp;Администрации&nbsp;не допускается (статья 1270&nbsp;Г.К РФ).</p>
    <p>2.3. При&nbsp;<a href="http://copyright.ru/library/zakonodatelstvo/gk_rf_obschee_zakonodatel/grazhdanskii_kodeks_RF_4_chast/glava_70__avtorskoe_pravo/#20">цитировании</a>&nbsp;материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274&nbsp;Г.К РФ).</p>
    <p>2.4. Пользователь предупрежден о том, что Администрация Сайта не несёт ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</p>
    <p>2.5. Пользователь согласен с тем, что Администрация Сайта не несёт ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта,&nbsp;<a href="http://copyright.ru/ru/documents/registraciy_avtorskih_prav/">регистрацией авторских прав</a>&nbsp;и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
    <p>2.6. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несёт какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>
    <p>2.7. Пользователь согласен с тем, что он имеет право осуществлять только поиск информации на сайте и использовать её в личных некоммерческих целях.</p>
    <p>2.8. В случае нарушения пользователем правил из канала #rules в Discord сервере, администрация сервера оставляет за собой право удалить ключ пользователя и ограничить доступ пользователя к серверу без возврата денежных средств.</p>
    <p>&nbsp;</p>
    <ol start="3">
    <li><strong> Права и обязанности Администрации</strong></li>
    </ol>
    <p>3.1. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (трёх) дней с момента размещения новой версии Соглашения на сайте.</p>
    <p>3.2. Администрация Сайта вправе создавать, изменять и удалять информацию на Сайте, а также ограничивать доступ к информации.</p>
    <p>3.3. Администрация обязуется поддерживать работоспособность сайта, за исключением случаев, когда это невозможно по независящим от Администрации причинам.</p>
    <p>3.4. Администрация обязуется осуществлять разностороннюю защиту учётной записи пользователя.</p>
    <p>3.5. Администрация обязуется предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом.</p>
    <p>&nbsp;</p>
    <ol start="4">
    <li><strong> Ответственность сторон</strong></li>
    </ol>
    <p>4.1. Администрация не несёт никакой ответственности за услуги, предоставляемые третьими лицами.</p>
    <p>4.2. В случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса.</p>
    <p>4.3. Администрация принимает платёжные данные Пользователя и перенаправляет их в Яндекс.Кассу. За обработку и сохранность персональных банковских данных Пользователя отвечает Яндекс.Касса (ООО&nbsp;НКО &laquo;Яндекс.Деньги&raquo;).</p>
    <p>&nbsp;</p>
    <ol start="5">
    <li><strong> Процесс покупки товаров на сайте</strong></li>
    </ol>
    <p>5.1. Сайт предоставляет продукт &ndash; закрытый доступ к Discord серверу. Данный доступ предоставляется Пользователю, который оплатил месячную подписку.</p>
    <p>5.2. Покупку доступа к частному серверу Discord можно осуществить на сайте www.quasarcook.com с помощью платежного метода - банковская карта или Яндекс Кошелёк (если Пользователь авторизирован на Яндексе). Когда пользователь выберет способ оплаты, виджет сообщит, что способ оплаты будет привязан к магазину. При успешной оплате данные карты или кошелька автоматически сохранятся в Яндекс.Кассе и на Сайте.</p>
    <p>5.3. Чтобы совершить покупку, необходимо нажать на кнопку &laquo;Buy&raquo;, в результате чего появится окно, в которое нужно будет ввести пароль. Пароль предоставляется администрацией.</p>
    <p>5.4. Когда вы совершите покупку, в вашем браузере откроется dashboard с уже привязанным уникальным ключом. Нажав на кнопку &laquo;Discord server&raquo;, вы окажетесь в закрытом сервере.</p>
    <p>5.5. Дальнейшая (1 раз в месяц) оплата производится автоматически. Деньги списываются с указанной в персональных данных карты каждые 30 (тридцать), сумма списания составляет 1500 (тысяча пятьсот) или 2000 (две тысячи) рублей, в зависимости от даты приобретения ключа.</p>
    <p>5.6. Quasar оставляет за собой право в принятии решения о возврате или невозврате денежных средств. Возврат денежных средств осуществляется только в том случае, если товар распродан, и при этом была проведена лишняя оплата.</p>
    <p>5.7. Пользователь в праве отказаться от продления подписки, отменив её через личный кабинет. В таком случае, новых снятий с карты Пользователя не будет, а деньги, снятые за последний месяц пользования, не будут возращены на карту.</p>
    <p>&nbsp;</p>
    <ol start="6">
    <li><strong>Прочие условия</strong></li>
    </ol>
    <p>6.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
    <p>6.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрацией Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
    <p>6.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</p>
    <p>6.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и&nbsp;<a href="http://copyright.ru/documents/zashita_avtorskih_prav/">защиту авторских прав</a>&nbsp;на охраняемые в соответствии с законодательством материалы Сайта.</p>
    <p>6.5. Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</p>
    <p>&nbsp;</p>
    <ol start="7">
    <li><strong> Реквизиты</strong></li>
    </ol>
    <p>ИП Калдузов Даниил Андреевич</p>
    <p>ОГРНИП 320784700191640</p>
    <p>ИНН 781148191912</p>

</div>