$tab-size: 780px;
$mob-size: 480px;

app-navbar{
    margin-top: 30px;
}

app-navbar, .agreement{
    width: 100%;
    max-width: 1560px;
    box-sizing: border-box;
    padding: 0px 80px;
    justify-self: center;
    @media screen and ( max-width: $tab-size ) {
        padding: 0px 40px;
    }

    @media screen and ( max-width: $mob-size ) {
        padding: 0px 20px;
        margin-top: 20px;
    }
}

p, h1, h2{
    margin: 0px;
    color: #fff;
}

.agreement{
    display: grid;
    align-self: start;
    padding-bottom: 40px;
}


h1{
    justify-self: center;
    text-align: center;
}


p.important{
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

p{
    font-size: 16px;
    font-weight: 300;
    &.point{
        margin-left: 20px;
    }

    span.name{
        font-weight: 500;
    }
}

h2{
    font-size: 18px;
    font-weight: 500;
}


.info-block{
    display: grid;
    row-gap: 20px;
    justify-items: start;
    > .info{
        display: grid;
        row-gap: 10px;
    }
}

.content {
    background: none;
    background-color: #57349A;
}

.content .content{
    display: grid;
    row-gap: 60px;
    width: auto;
    max-width: initial;
    box-sizing: border-box;
    padding: 0px;
    justify-self: stretch;
    background: none;
    justify-items: stretch;
    align-items: stretch;
    
}


a{
    text-decoration: underline;
    color: #E5E5E5;
    cursor: text;
    &.pointer{
        cursor: pointer;
    }
}