
		@page { margin-left: 1.18in; margin-right: 0.59in; margin-top: 0.79in; margin-bottom: 0.79in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
        A { color: #0000ff; so-language: zxx }
        .all{
            padding: 20px 20px 40px;
        }