<div class="successes relative standart-padding" id="successes">
        <h2 class="nameOfDescript bold-style">Success</h2>

    <div class="blockOfSuccesses ">

        <!-- <div class="perMonth regular-style relative" data-aos="fade-right">
            <span id="prev800" class="prev pointer" (click)=changeCurrentSuccess(-1)>
                <img src="/assets/img/icons/left-arrow.svg" alt="previos" class="change-successes">
            </span>
            
            <span id="next800" class="next pointer" (click)=changeCurrentSuccess(1)>
                <img src="/assets/img/icons/left-arrow.svg" alt="next" class="change-successes">
            </span>
        </div> -->
        <a class="twitter-timeline" data-width="500" data-height="800" data-theme="dark" href="https://twitter.com/QuasarSuccess?ref_src=twsrc%5Etfw">Tweets by QuasarSuccess</a> 
<!-- 
        <div class="" data-aos="fade-right">
                <img [src]="currentSuccess.image" *ngIf="currentSuccess.image != undefined">
        </div> -->
    </div>

</div>