.successes{
    display: grid;
    grid-row-gap: 40px;
    padding-top: 130px;
    color: white;
    padding-bottom: 50px;
    /* z-index: -1; */
    justify-items: center;
}

.successes h2{
    justify-self: center;

}

@media(max-width: 900px){
    .successes{padding-top: 120px;}
}
@media(max-width: 800px){
    .successes{row-gap: 20px;}

}
@media(max-width: 600px){

    .successes{padding-top: 80px; padding-bottom: 35px; row-gap: 50px;}
}